<%- include('includes/head') %>
<body class="bg-gray-100">
    <%- include('includes/nav') %>
    <div class="max-w-md mx-auto mt-10 bg-white p-8 rounded-lg shadow-lg">
        <h1 class="text-2xl font-bold mb-6 text-center"><%= data.user.name %> - Editar Detalhes</h1>
        <form action="/users/updateUser/<%= data.user.id %>" method="post" class="space-y-4">
            <div>
                <label for="name" class="block text-sm font-medium text-gray-700">Nome:</label>
                <input type="text" name="name" id="name" value="<%= data.user.name %>" required class="mt-1 block w-full border border-gray-300 rounded-md shadow-sm focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm">
            </div>
            
            <div>
                <label for="emails">Emails:</label>
                <ul>
                    <% data.emails.forEach(function(email, index) { %>
                        <li>
                            <input type="email" name="emails[<%= index %>].email" value="<%= email.email %>" class="mt-1 block w-full border border-gray-300 rounded-md shadow-sm focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm">
                            <input type="radio" name="emailPrincipal" value="<%= index %>" <% if (email.is_primary) { %>checked<% } %> > Principal
                        </li>
                    <% }) %>
                </ul>
            </div>

            
            <div>
                <label for="telefones">Telefones:</label>
                <ul>
                    <% data.telefones.forEach(function(telefone, index) { %>
                        <li>
                            <input type="text" name="telefones[<%= index %>].phone_number" value="<%= telefone.phone_number %>" class="mt-1 block w-full border border-gray-300 rounded-md shadow-sm focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm">
                            <input type="radio" name="telefonePrincipal" value="<%= index %>" <% if (telefone.is_primary) { %>checked<% } %> > Principal
                        </li>
                    <% }) %>
                </ul>
            </div>

            
            <div>
                <button type="submit" class="w-full py-2 px-4 bg-indigo-600 text-white font-semibold rounded-md shadow-md hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-indigo-500">ATUALIZAR</button>
            </div>
        </form>
    </div>
</body>
</html>
